
/* Overlay */
#simplemodal-overlay { cursor:wait; position:relative;   }
#simplemodal-container {
   background-color: #fff;
    border: 4px solid #ccc;
    border: 4px solid #ccc;
    color: #666666;
    color: #666666;  
	-moz-border-radius: 5px;
-webkit-border-radius:5px;
-khtml-border-radius: 5px;  
}
#simplemodal-container a.modalCloseImg {
    background: url("../../images/x.png") no-repeat scroll 0 0 transparent;
}
/* Container */
#simplemodal-container { padding:12px; display:block; height:695px;}
#simplemodal-container a.modalCloseImg { width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px; height:100%;  }

#simplemodal-container h3 { margin:0 0 20px 0; padding:0 0 5px 0; font:bold 22px Arial, Helvetica, sans-serif; } 
#simplemodal-container .row {    margin-right:10px; padding-bottom:10px; clear:both; height:52px; }
#simplemodal-container .textarea_row {    margin-right:10px; padding-bottom:10px; clear:both; height:110px;}
#simplemodal-container .row  label  {  float:left; font-size:13px; color:#333; padding:5px 0; width:110px;  }
#simplemodal-container .row  label span { color:#C00; }
 #simplemodal-container .row textarea {  height:100px;  }

#simplemodal-container .row  input, #simplemodal-container .row  textarea {  width:255px; padding:9px; float:left;  font:13px Arial, Helvetica, sans-serif; border:1px solid #ccc;  
-moz-border-radius: 5px;
-webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#simplemodal-container .row  textarea {  }
#simplemodal-container .row  input:focus, #simplemodal-container .row  textarea:focus { border:1px solid #9d9c9c; }



#simplemodal-overlay {
    background-color: #000000;
	}


#simplemodal-container  .row .button { background: url(../../images/buttonbg.png) repeat-x scroll left bottom #FAFBFB; border: 1px solid #ADAEB0; -moz-border-radius:20px;  -webkit-border-radius:20px; color: #5C5C5C; padding: 8px 20px; text-shadow: 1px 1px 1px #FFFFFF; margin-top:25px; width:100px; font:14px Georgia,"Times New Roman",Times,serif }
#simplemodal-container .row .button:hover { background:#fafbfb url(../../images/buttonbg_h.png) repeat-x left top; }
#simplemodal-container .row .button:active { background:#fafbfb url(../../images/buttonbg_h.png) repeat-x left top; }

#simplemodal-container { top:90px !important; }
#inquiry_div, #claim_listing_frm  { height:430px;  width:400px; }
#basic-modal-content { width:400px; }

#basic-modal-content {   }
#basic-modal-content .message_error2, #inquiry_div .message_error2, #claim_listing_frm .message_error2  { padding-left:115px; float:inherit; padding-top:3px;  width:300px; }



		@media only screen and (min-width: 768px) and (max-width: 960px) {
			.styled-select select {margin-top:10px; height:35px;}
		}
		
		@media only screen and (min-width: 480px) and (max-width: 768px) {
			.select_city { width:322px !important; margin:0 auto; }
			.styled-select { height:auto; }
			.b_go { clear:both; position:inherit; }
			.styled-select select { width:250px; margin-bottom:10px;  } 
			.header { width:100%; }
		}
		
		@media only screen and (max-width: 479px) { 
		
			.select_city { width:300px !important; margin:0 auto; }
			.b_go { clear:both; position:inherit; }
			.styled-select select { width:200px; margin-bottom:10px;  } 
			.header { width:100%;  }
		}
 
