#calendarDiv { position:absolute; width:auto;  padding:0; font-family:arial;
font-size:13px;  visibility:hidden; text-align:center;   }
#calendarDiv span,#calendarDiv img { float:left; }
#calendarDiv .selectBox,#calendarDiv .selectBoxOver { line-height:12px; padding:1px; padding-bottom:0; cursor:pointer; padding-left:2px;  }
#calendarDiv td { padding:6px 4px 4px 5px; margin:0px; font-size:13px; font-weight:bold; text-align:center; text-transform:uppercase; } 
#calendarDiv .selectBox { position:relative; }
#calendarDiv .selectBoxOver { position:relative; }
#calendarDiv .topBar { height:22px; padding:2px; margin-bottom:3px;  }
#calendarDiv .activeDay { }
#calendarDiv .todaysDate { height:17px; line-height:17px; padding:2px;  text-align:center; position:absolute; bottom:0px; width:201px; }
#calendarDiv .monthYearPicker {  position:absolute;  left:0px; top:15px;	z-index:1000; display:none; }
#calendarDiv #monthSelect { width:92px; padding:4px }
#calendarDiv .monthYearPicker div { float:none; clear:both;	 padding:1px;  margin:1px; cursor:pointer; }
#calendarDiv .monthYearActive { }
#calendarDiv td { cursor:pointer; }
#calendarDiv .topBar img { cursor:pointer; }
#calendarDiv .topBar div { float:left; margin-right:15px;  font-weight:bold;}
#calendarDiv  #calendar_year_txt { padding:4px; width:55px; text-align:left; }
#calendarDiv table { margin-left:-6px; }

/* calendar color --------------- */
#calendarDiv{ border:1px solid #d9d9d9;  padding:0px; background: #f9f9f9 url(../../images/calendar_main.png) repeat-x left top; color:#333; 

box-shadow:inset 0px 0px 2px #fff;
-webkit-box-shadow:inset 0px 0px 2px #fff;
-moz-box-shadow:inset 0px 0px 2px #fff;

-moz-box-shadow: 1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px #ccc;
box-shadow: 1px 1px 1px #ccc; 
}
#calendarDiv td { border:none; border-right:none;  text-shadow:1px 1px 1px #fff; }
#calendarDiv td:hover { color:#666; }
#calendarDiv .selectBox{ border:none; background:none;  color:#eee; text-shadow:1px 1px 1px #333; }
#calendarDiv .selectBoxOver { border:none; background:#none; color: #fff; text-shadow:1px 1px 1px #333;  }
#calendarDiv .activeDay { color:#fff; background:#333; text-shadow:1px 1px 1px #333; }
#calendarDiv .activeDay:hover { color:#fff; }
#calendarDiv .oldDay { color: #c4c4c4; pointer-events: none; background:none; }
#calendarDiv .todaysDate { background-color: #E9F1F6; }
#calendarDiv .monthYearPicker { background-color: #fff; border:none; color: #333;  -moz-box-shadow: 1px 1px 1px #666;
-webkit-box-shadow: 1px 1px 1px #666;
box-shadow: 1px 1px 1px #666; }
#calendarDiv .monthYearPicker div { border-bottom:1px solid #d9d9d9; }
#calendarDiv .monthYearActive { background-color:#eee; color: #0c5580; }