

.row { padding:15px 0 15px 0; border-bottom:1px dotted #dfdfdf;  }
.row p { margin:0; padding:0; }
.row label { font-size:14px; font-weight:bold; }
.row p.note { font-size:11px; color:#777; clear:both; }
.row p.value { font-size:11px; color:#333; clear:both; }
.multicheckbox, .input_radio { float:left; margin:0 10px 10px 5px; width:130px; }
.element { width:245px; }
.calendar_img { margin-left:10px; }
.row input { padding:5px; }


.widefat td br { display:none; }
p.notes_spec { margin:0; padding:0; clear:both; display:block;  }
h4 a.l_add_new { border-radius: 3px 3px 3px 3px; font-family: sans-serif; font-size: 12px; margin-left: 4px; font-weight:normal; padding: 3px 8px;
position: relative; text-decoration: none; top: -2px; background: #F1F1F1;  }

h4 a.l_back { border-radius: 3px 3px 3px 3px; font-family: sans-serif; font-size: 12px; margin-left: 4px; font-weight:normal; padding: 3px 8px;
position: relative; text-decoration: none; top: 1px; background: #F1F1F1; float:right;  }


.legend_section { padding:20px 0; }
.legend_section ul { margin:0; padding:0; }
.legend_section ul li { margin:0 0 8px 0; padding:0; }
.legend_section ul li img { float:left; margin-right:10px; }

#map_canvas  { margin-top:20px; }

#framework_wrap #content .option a { color:#21759B !important; }
#framework_wrap #content .option a:hover { color:#f60 !important; }

.cat_icon { float:left; display:inline; margin-right:5px; }

#city .pagination { text-align: center; line-height: 35px; }
#city .pagination a { padding: 0 10px; }